{% extends '_base.html' %}

{% load static %}
{% block page_title %}  {% endblock %}

{% block page_content %}
    <main class="container">
        <section class="featured-posts">
            <h2>مقالات ویژه</h2>
            <div class="posts-grid">
                  {% for post in post_list %}
                <article class="post-card">
                    <div class="post-image">
                        <img src="https://via.placeholder.com/300x200" alt="عنوان مقاله">
                    </div>
                    <div class="post-content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description|truncatewords:8 }}</p>
                        <div class="post-meta">
                            <span><i class="far fa-clock"></i>{{ post.reading_time }}</span>
                            <span><i class="far fa-user"></i>نویسنده:{{ post.author }}</span>
                        </div>
                    </div>
                </article>
                {% empty %}
                <p>مقاله ای یافت نشد!</p>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}